In [33]:
import pandas as pd
import os

path = 'names'  #путь к файлам

In [34]:
def count_names(years):
    extention = '.txt'
    df_list = list()
    for year in years:
        year = str(year)
        filename = 'yob'+ year + extention
        filepath = os.path.join(path, filename)
        df = pd.read_csv(filepath, names=['Name', 'Gender', 'Count'])
        df['Year'] = year
        df_list.append(df)  
    df_concat = pd.concat(df_list)
    df_stucked = df_concat.groupby(['Gender', 'Year']).sum()
    return df_stucked

In [35]:
count_names([1900])

              Count
Gender Year
F      1900  299800
M      1900  150483